div {
    margin-left: 50px;
}

div#result_list {
    margin-top: 50px;
    width: 800px;
    font-size: 1.2em;
}

p#solution {
    font-size: 1.05em;
    color: grey;
}

p#para {
    text-indent: 30px;
}

a#title {
    font-size: 1.1em;
}

a#source {
    color: black;
    text-decoration: none;
}

a#source:hover {
    color: cornflowerblue;
}